{
 :YV
 {:fi
  (["YV"])
  :sv
  (["PPG"])}
 :YV2
 {:fi
  (["YV2"])
  :sv
  (["PPG2"])}
 :AV
 {:fi
  (["AV"])
  :sv
  (["SH"])}
 :TM
 {:fi
  (["TM"])
  :sv
  (["EN"])}
 :IM
 {:fi
  (["IM"])
  :sv
  (["EN"])}
 :VT
 {:fi
  (["VT"])
  :sv
  (["VC"])}
 :VL
 {:fi
  (["VL"])
  :sv
  (["GWG"])}
 :RL
 {:fi
  (["RL"])
  :sv
  (["PS"])}
 :TV
 {:fi
  (["TV"])
  :sv
  (["DPP"])}
 :SR
 {:fi
  (["SR"])
  :sv
  (["MPG"])}}
